header{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    background-color: rgb(26, 26, 26);
}

.nav-grid{
    display: grid;
    grid-template-columns: 5% 200px 200px auto;
    align-items: center;
    height: 40px;
}

.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item>img{
    height: 35px;
}

.nav-button{
    display: block;
    border: 1px solid white;
    border-radius: 15px;
    height: 18px;
    padding: 5px;
    width: 85%;
}

.nav-button:hover{
    background-color: lightblue;
}

.nav-search{
    flex-direction: row-reverse;
    justify-content: right;
}

#search{
    display: none;
}