@import "footer.css";
@import "toc.css";

body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    white-space: pre;
}

a:visited{
    color: lightblue;
}

button{
    color: white;
    background-color: grey;
    border-radius: 0px;
    border: 1px solid white;
    margin: 2px;
    text-align: center;
    height: 20px;
}

.addedButton{
    width: 20px;
    padding: 0px 0px;
}

span{
    vertical-align: middle;
}

main{
    display: grid;
    justify-content: center;
}

h1{
    text-align: center;
}