@import "toc.css";
@import "navbar.css";

body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    margin-top: 50px;
}

a:visited{
    color: lightblue;
}

main{
    display: grid;
    justify-content: center;
}

h1{
    text-align: center;
}

.button{
    display: flex;
    padding: 5px 5px 5px 5px;
    align-items: center;
}
.button:hover{
    cursor: pointer;
    color: black;
}