/* @import "custom.css"; */
@import "navbar.css";

body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    margin: 40px 0px 0px 0px;
    padding: 10px;
}

main{
    margin: auto;
    max-width: 1000px;
    justify-content: center;
    justify-items: center;
}

h1{
    text-align: center;
}

.button{
    display: flex;
    padding: 5px 5px 5px 5px;
    align-items: center;
}

.button:hover{
    cursor: pointer;
    color: black;
}

.link{
    display: none;
}