button{
    border: 1px black solid;
    margin: 10px 0px 10px 0px;
    width: 75px;
    justify-self: right;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    transition: 0.2s;
}
button:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

main input{
    border: 1px white solid;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;

    color: rgba(245, 245, 245, 0.888);
    background-color: rgba(255, 255, 255, 0.075);
}

textarea{
    padding: 5px;
    margin: 10px 0px 10px 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 30px;
    box-sizing: border-box;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    font-size: 15px;
    
    border: 1px white solid;
    color: rgba(245, 245, 245, 0.888);
    background-color: rgba(255, 255, 255, 0.075);
}

.title-grid{
    display: grid;
    grid-template-columns: auto 200px;
}

.inside-grid{
    display: grid;
    grid-template-columns: 100px 100px;
}

.date-grid{
    display: grid;
    grid-template-columns: auto 300px auto 300px;
    justify-content: right;
    align-items: center;
    column-gap: 20px;
}


@media screen and (max-width: 600px){
    .title-grid{
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }
    .inside-grid{
        justify-content: center;
        grid-template-columns: 50% 50%;
        padding: 10px;
        gap: 25px;
    }
    button{
        width: 99%;
    }
    #save{
        justify-self: right;
    }
    #load{
        justify-self: left;
    }
}

@media screen and (max-width: 800px) {
    .date-grid{
        grid-template-columns: auto 50%;
        grid-template-rows: auto auto;
        justify-items: right;
    }
}