button{
    color: white;
    background-color: grey;
    border-radius: 0px;
    border: 1px solid white;
    margin: 2px;
    text-align: center;
    height: 20px;
}

.addedButton{
    width: 20px;
    padding: 0px 0px;
}

span{
    vertical-align: middle;
}